NEXT_PUBLIC_CLOUDKIT_CONTAINER_IDENTIFIER=iCloud.com.local.selfstudystudio
NEXT_PUBLIC_CLOUDKIT_API_TOKEN=
NEXT_PUBLIC_CLOUDKIT_ENVIRONMENT=development
NEXT_PUBLIC_CLOUDKIT_ZONE_NAME=LearningJournalZone
